*{
	margin: 0px;
	padding: 0px;
	box-sizing: content-box;
}
.caja{
    background-color: gray;
    border-color: black;
    border-style: solid;
    border-width: 1px;
}

.uno{
    height: 50px;
    width:50px;
    display:inline-block;
    margin: 10px;
}

.dos{
    border-style: solid;
    margin: 10px;
    display: block;
    text-align:center;
    padding:10px;
    width: 200px;
}

.dentro{
    height: 50px;
    width:50px;
    display:inline-block;
    margin: 5px;
}

.tres{
    height: 50px;
    width:50px;
    
    border-width: 1px;
    border-style: solid;
    margin: 10px;
    display: inline-block;
}
.cuatro{
    height: 50px;
    width:50px;
    margin: 10px;
}